<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <%-include('includes/head.ejs')%>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="spinner" id="spinner">
      <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
      </div>
    </div>
    <%-include('includes/nav.ejs')%>
    <!-- main -->
    <main class="home">
      <div class="main-content">
        <!-- first part -->
        <header>
          <div class="container">
            <!-- h1 -->
            <h1 class="company_name">
              <span class="orange">WE</span> <span class="green">GO</span>
            </h1>
            <!-- quote -->
            <h2 class="company_Quote">
              <span class="orange">شركة</span> <span class="green">شحن</span>
              <span class="orange">توصلك</span>
              <span class="green">أى مكان فى مصر</span>
            </h2>
            <!-- quote 2 -->
            <h2 class="company_quote2 company_heading">اسرع طريق لأبعد مكان</h2>
            <!-- communication part -->
            <div class="communication">
              <!-- phone part -->
              <div class="phons">
                <div class="phone">
                  <i class="fad fa-phone"></i> 01030907978
                </div>
                <div class="phone">
                  <i class="fad fa-phone"></i> 01099880165
                </div>
                <div class="phone">
                  <i class="fad fa-phone"></i> 01121807608
                </div>
                <div class="phone">
                  <i class="fad fa-phone"></i> 01559558289
                </div>
              </div>
              <!-- facebook -->
              <a
                href="https://www.facebook.com/WeGoEgy"
                class="facebook"
                target="_blank"
              >
                <i class="fab fa-facebook-f"></i>
              </a>
            </div>
            <!-- work with us -->
            <div class="center">
              <a href="/seller/register" class="workwithus"> انضم لنا كبائع </a>
            </div>
            <div class="center">
              <a href="/dAgent/register/online" class="workwithus">
                انضم لنا كمندوب شحن
              </a>
            </div>
          </div>
        </header>
        <!-- second part -->
        <section class="about">
          <div class="container">
            <!-- heading -->
            <h2 class="heading">مميزاتنا</h2>

            <div class="flex-features">
              <!-- item -->
              <div class="item">
                <!-- icon part -->
                <div class="icon">
                  <i class="fad fa-tachometer-alt-fastest"></i>
                </div>
                <!-- text part -->
                <h3 class="type">السرعه</h3>
              </div>
              <!-- item -->
              <div class="item">
                <!-- icon part -->
                <div class="icon">
                  <i class="fad fa-barcode"></i>
                </div>
                <!-- text part -->
                <h3 class="type">الجوده</h3>
              </div>
              <!-- item -->
              <div class="item">
                <!-- icon part -->
                <div class="icon">
                  <i class="fad fa-user-shield"></i>
                </div>
                <!-- text part -->
                <h3 class="type">الأمان</h3>
              </div>
            </div>
          </div>
        </section>
        <!-- designers work -->

        <!-- footer -->
        <footer>
          <div class="container">
            <p class="rights">جميع الحقوق محفوظه لشركه WeGoEgy &#174;</p>
          </div>
        </footer>
      </div>
    </main>
    <%-include('includes/footer.ejs')%>
    <script src="/js/FontAwesome_pro.js"></script>
  </body>
</html>
