<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <%-include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/changePassword.css" />
  </head>

  <body>
    <%-include('../includes/nav.ejs')%>
    <main class="change">
      <div class="container">
        <div class="content-container">
          <!-- main heading -->
          <h1 class="heading">تغيير الباسورد</h1>
          <!-- errors -->
          <!-- <div class="errors-container">
            <small class="error">خطأ فى الباسورد</small>
          </div> -->
          <!-- errors -->

          <form action="/headOffice/resetPassword" class="changePassword">
            <div class="select">
              <label for="userType">نوع المستخدم</label>
              <select name="userType">
                <option value="admin">مدير النظام</option>
                <option value="rAgent">وكيل محافظه</option>
                <option value="dAgent">مندوب توصيل</option>
                <option value="cAgent">ممثل خدمة عملاء</option>
                <option value="secAgent">مسئول تأمين شحنات</option>
              </select>
            </div>
            <input
              type="text"
              name="userName"
              class="newPassword"
              required
              placeholder="اسم المستخدم"
            />
            <input
              type="password"
              name="newPassword"
              class="newPassword"
              required
              placeholder="الباسورد الجديد"
            />
            <input
              type="password"
              name="confirmPassword"
              class="confirmPassword"
              required
              placeholder="تأكيد الباسورد"
            />
            <div class="center">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button type="submit" class="newPassword-submit">تأكيد</button>
            </div>
          </form>
        </div>
      </div>
    </main>
    <%-include('../includes/footer.ejs')%>
  </body>
</html>
